<head>

	<h1>Bienvenue à toi <%= params[:id] %> !!! </h1>
</head>

<body>

  <div class="card">
    <div class="card-body"> 
      <h3>Ici c'est notre super site <%= params[:id] %> :D </h3>
      <h3>Il est plutôt chouette non? Hein? Dis le que tu kiff bébé</h3>
    </div>
  </div>
</body>

</html>
