<!DOCTYPE html>
<html>

<head>
	<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/acceuil">Acceuil</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="/team">Notre équipe<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="/contact">Contacts<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="/welcome/:name">Ma page de bienvenue<span class="sr-only">(current)</span></a>
      </li>
    </ul>
  </div>
</nav>

</head>

<body>
  <div class="card">
  <div class="card-header">
    <h1>Bienvenue sur The Gossip Project Website</h1>
  </div>
  <h2>Ci-dessous la liste des gossips (autheur et titre): </h2>
    <div class="card-body"> 
    	<% Gossip.all.each_with_index do |gossip, index| %>
        <li class="list-group-item">
          <p><strong>Auteur : <%= gossip.user.first_name%></strong></p>
          <p>Titre : <%= gossip.title%></p>
          <p>Lien du potin : <button type="button" class="btn btn-info"><a class="text-white" href="/gossip/<%= gossip.id %>"> - clique ici -</a></button></p>
        </li>
      <% end %>
    </div>
  </div>
</body>

</html>

