<!DOCTYPE html>
<html>


<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/home">Acceuil</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="/potin">Créer un potin <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="/team">Notre équipe<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="/contact">Contacts<span class="sr-only">(current)</span></a>
      </li>
    </ul>
  </div>
</nav>
<h1>Tu veux joindre notre équipe de folie ? </h1>
<p>Pendant la période estivale nous tenons une permanance en Laponie au village du père noel.</br>
Sinon, tu peux nous contacter à l'adresse lilas.allard@gmail.com
</p>

</html>