<!DOCTYPE html>
<html>

<head>


</head>

<body>
 <div class="card text-center">
  <div class="card-header">
    <h1>Bienvenue sur The Gossip Project Website</h1>
  </div>
  <div class="card-body">
    <h2 class="card-title">Tu veux découvrir tous nos potins croustillants<br/>
    <p class="card-text">Allez petit curieux clique sur le lien ci-dessous pour te rendre à l'acceuil</p></h2>
    <a href="/acceuil" class="btn btn-primary">C'est parti</a>
  </div>

</div>
</body>

</html>