<!DOCTYPE html>
<html>

<head>
	<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/acceuil">Acceuil</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="/team">Notre équipe<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="/contact">Contacts<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="/welcome/:name">Ma page de bienvenue<span class="sr-only">(current)</span></a>
      </li>
    </ul>
  </div>
</nav>

</head>

<body>
  <div class="card">
  <div class="card-header">
  <h1>LA SUPER TEAM DU TURFU</h1>
  </div>
    <div class="card-body">
    	<h3>Voici notre équipe : </h3>
    	<br/>
    	<h5> 
      LILAS : jeune lilloise de 22 ans passioné d'agriculture </br>
    	MAHAUT : fraichement débarquée sur Lille pour profiter du beau temps </br>
    	THEO : le plus jeune de nos moussaillons et le seul représentant masculin </br>
    	OMA : l'ultime moussaillone !! </br>
      </h5>
    </div>
  </div>
</body>

</html>

