<!DOCTYPE html>
<html>

<head>


</head>

<body>
  <div class="card">
  <div class="card-header">
  <h1>LA SUPER TEAM DU TURFU</h1>
  </div>
    <div class="card-body">
    	<h3>Voici notre équipe : </h3>
    	<br/>
    	<h5> 
      LILAS : jeune lilloise de 22 ans passioné d'agriculture </br>
    	MAHAUT : fraichement débarquée sur Lille pour profiter du beau temps </br>
    	THEO : le plus jeune de nos moussaillons et le seul représentant masculin </br>
    	OMA : l'ultime moussaillone !! </br>
      </h5>
    </div>
  </div>
</body>

</html>

